.home {
    background-image: url('../../../assets/background.png');
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: contain;
    height: 100vh;
    @include tablet {
        background-position: top right;
    }
    .home__content {
        @extend .container;
        padding-top: 10em;
        display: flex;
        flex-direction: column;
        align-items: center;
        @include tablet {
            display: block;
        }

        h1 {
            padding-bottom: 0.3em;
            font-size: 6em;
            color: $blue;
            align-self: start;
            font-family: Neuehanskendrick-Light;
            @include tablet {
                font-size: 12em;
            }
        }
        p {
            padding-bottom: 1em;
            font-size: 1.4em;
            font-family: Neuehanskendrick-Light;
        }

        .home__search {
            padding: 2rem 0;
            text-align: center;
            @include tablet {
                text-align: left;

            }
            label {
                position: relative;
                display: block;
            }

            label:before {
                content: "";
                position: absolute;
                left: 15px;
                top: 0;
                bottom: 0;
                width: 20px;
                background: url("../../../assets/search.svg") center / contain no-repeat;
            }

            input {
                padding: 15px 40px;
                border: none;
                background-color: #f5f5f5;
                width: 70%;
                border-radius: 20px;
                outline: none;
                @include tablet {
                    width: 30%;
                }
            }
            button {
                background-color: $blue;
                color: $white;
                border-radius: 70px;
                font-size: 2.4em;
                border: none;
                padding: 0.2em 2em 0.3em;
                margin-top: 2em;
                font-family: Neuehanskendrick-Light;
                outline: none;
                cursor: pointer;

            }
        }
    }

}
